body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body.modal-open #adminmenuwrap {
    z-index: 1040;
}
body.modal-open .modal .loading-overlay {
    background-color: rgba(226, 226, 226, 0.3);
}
.modal legend {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    width: auto;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.undraggable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
#erp-wrapper {
    margin: 10px 20px 0 2px;
    position: relative;
}
#erp-wrapper .form-control{
    color: #32373c;
}
#erp-content {
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    min-height: 500px;
    padding: 8px 12px;
    z-index: 1000;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
span.glyphicon.spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
#erp-content .address-cell {
    position: relative;
}
#erp-content .address-cell.danger {
    background-color: rgba(235, 204, 204, 0.27);
}
#erp-content .address-cell .glyphicon {
    visibility: hidden;
    right: 2px;
    top: 2px;
    position: absolute;
    font-size: 75%;
}
#erp-content .address-cell .glyphicon.visibility {
    visibility: visible;
}
#erp-content.busy {
    opacity: 0.5;
}
#erp-content p, #erp-content li{
    font-size: 14px;
}
#erp-content .tools-box {
    padding-left: 20px;
}
#erp-content .tools-box .checkbox{
    margin-top: 0;
}
.wp-admin #erp-content select {
    height: 34px;
}
.wp-admin #erp-content table select {
    height: 30px;
    padding: 3px 5px;
}
#erp-content .full-width {
    width: 100%;
}
#spinner {
    background: url('../images/spinner.gif') no-repeat;
    background-size: 30px 30px;
    filter: alpha(opacity=70);
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    position: fixed;
}
.loading-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1001;
    top: 0;
    left: 0;
}
.form-control{
    border-radius: 0!important;
}
h1#erp-header {
    font-size: 30px;
}
/*--------------- referral style ----------------*/
span.top-leaf {
    font-size: 28px;
}
span.new-referal {
    font-size: 28px;
    float: right;
    margin-right: 70px;
}

#erp-wrapper .header-fixed {
    width: 100%
}
#erp-wrapper table.table.table-striped.table-fixed.header-fixed thead {
    background-color: #E4E0E0;
}
#erp-wrapper .dropdown-menu {
    min-width: 0 !important;
    border-radius: 0 !important;
    outline: none !important;
}
#erp-wrapper .dropdown-menu.right-align {
    left: auto;
    right: 0;
}
#erp-wrapper .dropdown-menu > li, #erp-wrapper .dropdown-menu > li:focus  {
    outline: none !important;
}
#erp-wrapper button.btn.btn-default.dropdown-toggle {
    border-radius: 0 !important;
}
.space_nomal{
    margin-top: 20px;
}
.space_big{
    margin-top: 80px;
}
.logo_upload{
    width: 100%;
}
.logo_upload > img{
    max-height: 120px;
    border: 2px solid #eee;
}
.logo_upload input[type=file] {
    margin: 10px 0 0 0;
    padding: 2px 3px;
}
.center_nomal{
    margin: 0 auto;
}
.text-nomal{
    font-size: 16px;
    float: none !important;
    margin: 0;
    padding: 5px 0;
}
.text-bold {
    font-weight: 600;
}
.table-tools {
    margin-bottom: 10px;
}

/* For drag and drop with angular dnd list */
[dnd-list] > [dnd-draggable] {
    position: relative;
}
[dnd-list] li {
    /*list-style: none;*/
}
.dndDragover {
    /*border: 1px dashed #B6B6B6;*/
}
.assigned-routes > ul{
    min-height: 100%;
    margin-bottom: 0;
}
.dndPlaceholder {
    background-color: #eee !important;
    display: block;
    min-height: 150px;
}
.dndDraggingSource{
    display: none;
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height:100px;
    display: none;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}
.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
    overflow: auto;
}
.angular-ui-tree-node.highlight {
    background-color: #fcf8e3;
}

.angular-ui-tree-nodes.empty .angular-ui-tree-placeholder {
    height: 390px !important;
}
.angular-ui-tree-hidden {
    display: none;
}
.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}
.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

.box-assign .queue-item-menu span.glyphicon {
    float: right;
    right: 5px;
    color: #B6B6B6;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.box-assign span.glyphicon:hover {
    color: #4E4E4E;
}
.box-assign .queue-item-info {
    width: 85%;
    display: inline-block;
}
.box-assign .queue-item-menu {
    width: 15%;
    display: inline-block;
    float: right;
}
.box-assign .queue-item-menu br {
    line-height: 20px;
}
/*--------------- estimates style ----------------*/
#erp-wrapper .service-argreement.pull-right {
    margin-right: 10px;
    font-size: 28px;
}
#erp-wrapper .row.form-estimates {
    margin-top: 20px;
}
#erp-wrapper .location-notes {
    width: 95%;
    margin-left: 3%;
}
#erp-wrapper table.table.table-striped.table-fixed.header-fixed.wpt-table {
    width: 97.5% !important;
    margin-left: 1.8%;
}
#erp-wrapper .btn {
    border-radius: 0 !important;
}
#erp-wrapper .col-sm-12.cl-lines {
    width: 90%;
    margin-left: 0.5%;
}
#erp-wrapper .date-of-signature {
    margin-top: 80px;
}
#erp-wrapper .customer-signature {
    margin-left: 2%;
}
.div-customer-signature.ng-pristine {
    height: 115px;
}
#erp-wrapper .upload {
    border: 1px solid #ccc;
}

/* style for .form-control error state */
#erp-wrapper .ng-dirty.ng-invalid {
    border-color: #a94442;
}

/* NgView animation */
#erp-view.ng-enter {
  -webkit-transition: .5s linear all; /* Safari/Chrome */
  -moz-transition: .5s linear all; /* Firefox */
  -o-transition: .5s linear all; /* Opera */
  transition: .5s linear all; /* IE10+ and Future Browsers */
}

#erp-view.ng-enter{
  opacity: 0;
}

#erp-view.ng-enter.ng-enter-active {
  opacity: 1;
}
#erp-wrapper input[type=file] {
  border: 1px solid #ccc;
}

.estimate-logo {
    max-width: 120px;
}
.modal.modal-customer-signature {
    top: 20%;
}
.div-customer-signature {
    border: 1px solid #ccc;
}
.div-customer-signature canvas {
    cursor: default;
}
.div-customer-signature-preview {
    border: 1px solid #ccc;
    min-height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
.div-customer-signature-preview img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}
.modal-customer-signature .modal-dialog {
    width: 410px !important;
}
.modal-customer-signature .modal-body {
    padding: 5px !important;
}
.space-30 {
    clear: both;
    margin: 30px 0;
}

/*--------------- referral route style ---------------*/
.assigned-routes {
    border: 1px solid #B6B6B6;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    clear: both;
}
.box-assign {
    border: 1px solid #B6B6B6;
    margin-top: 10px;
    padding: 5px;
}

/* Disable selection on mobile */
@media (max-width: 1024px) {
    .box-assign, .box-assign a {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
@media (min-width: 1024px) {
    .gmap-container {
        margin-top: 11px;
    }
}

.sort-by {
    margin-bottom: 40px;
}
.gmap-container {
    width: 100%;
    border: 1px solid #B6B6B6;
}
.gmap-container .angular-google-map {
    height: 500px;
}
.gmap-container .angular-google-map-container {
    height: 100%;
    width: 100%;
}
.btn-action.text-right {
    margin-bottom: 10px;
}
.tbl-referral-route {
    border: 2px solid;
    padding: 10px;
}

/*------------ setting and sync style ---------------*/
.last-synced.col-xs-4.text-center {
    border: 2px solid;
    border-radius: 15px;
}
.as-sortable-item-handle {
    cursor: move;
}
.lines-table .glyphicon-trash {
    cursor: pointer;
}
.lines-table tbody tr {
    cursor: pointer;
}
.lines-table tbody tr input, .lines-table tbody tr textarea {
    max-width: 100% !important;
    width: 100%;
}
.lines-table tbody tr .form-control {
    padding: 2px 6px;
}
.lines-table tbody tr textarea {
    resize: none;
}
.lines-table tbody tr select {
    width: 100%;
}
.lines-table tbody td {
    vertical-align: middle !important;
}
/* Remove spinner in input numbers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dropzone style */
.dropzone {
    padding: 10px;
}
.drop-clickable {
    cursor: pointer;
}
#drop-container {
    min-height: 50px;
}
.estimate-attachments-list .remove-attachment{
    cursor: pointer;
    font-weight: 600;
    margin: 0;
}

/* bootbox modal */
.modal .btn{
    border-radius: 0;
}
.bootbox .bootbox-body {
    word-break: break-word;
}
.modal {
    top: 15px;
}

ul.dropdown-menu.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-valid-date-disabled {
    left: -84px !important;
}
@media(max-width:768px) {
    ul.dropdown-menu.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-valid-date-disabled {
        left: 15px !important;
    }
}
/* Config form */
.config-form label.control-label{
    text-align: left;

}

input .tooltip.customClass .tooltip-inner {
    color: #880000 !important;
    background-color: #ffff66 !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
}
/* Hide arrow */
input .tooltip.customClass .tooltip-arrow {
    /*display: none !important;*/
}

.form-control.inline {
    width: auto;
    display: inline-block;
}
select.form-control {
    height: 34px;
}
label.required {
   white-space: nowrap;
}

label.required span {
    font-size: 0.8em;
    vertical-align: super;
    color: #a94442;
}
/* Override selectize style */
.selectize-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.intuitPlatformConnectButton {
    background-position: 0 -39px !important;
}
#erp-content select[disabled] {
    color: #333;
    background-color: #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 22px;
}
/* Work order form */
#form-work-order .input-time {
    width: 90px;
}
#form-work-order .route-title {
    font-size: 20px;
    margin-bottom: 10px;
}
#form-work-order .start-time, #form-work-order .estimates {
    margin-top: 5px;
}
#form-work-order .estimates > ul > li {
    margin-top: 20px;
    font-size: 13px;
}
@media screen {
    .print-only {
        display: none;
    }
}
@media print {
    .hide-print {
        display: none !important;
    }
    #form-work-order {
        font-size: 14px;
    }
    #form-work-order .legend {
        margin: 0 0 20px 0;
    }

    #adminmenuwrap,
    #erp-header,
    #wpfooter,
    #adminmenu,
    #wpadminbar,
    #adminmenuback,
    #wp-auth-check-wrap,
    [class$="-nag"]
    {
        display: none !important;
    }

    #erp-content {
        border: none;
    }
    #wpcontent {
        width: 100%;
        margin-left: 0;
    }
}
/* End work order form */
.table-tools.list-referral {
  width: 60%;
}

.n-p {
    padding: 0 0 0 0;
}
.estimate-total {
    font-size: 18px;
}
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Sub-customer dropdown */
.selectize-dropdown, .selectize-input, .selectize-input input {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.selectize-dropdown-content .sub.sub-level-1 {
    padding-left: 25px;
}
.selectize-dropdown-content .sub.sub-level-2 {
    padding-left: 35px;
}
.selectize-dropdown-content .sub.sub-level-3 {
    padding-left: 45px;
}
.selectize-dropdown-content .sub small {
    font-style: italic;
    float: right;
}
.form-route label {
    line-height: 30px;
}
#erp-content select.sort-by-select {
    height: 27px;
}
.form-route hr {
    margin: 0 0 10px 0;
}
.route-box-title {
    margin-top: 0;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
}
form.form-route {
    margin-top: 5px;
}
.lines-table .selectize-input {
    min-height: 28px !important;
    padding: 4px 10px;
}
div.toast {
    width: 350px;
}
li.line-empty {
    height: 10px;
}
div.queue-toolbar {
    margin-bottom: 10px;
    display: inline-block;
}
.worker-order-line input[type=checkbox] {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
@media(min-width:1025px) {
    div.queue-toolbar {
        float: right;
    }
    .input-worker-order-line, .input-equipment-list {
        width: 700px;
    }
    .worker-order-line input[type=checkbox]{
        margin-top: 0px;
    }
}
@media(max-width:1024px) {
    .input-worker-order-line, .input-equipment-list {
        width: 85%;
    }
}

.worker-order-line.line-invisible input[type=text]{
    color: #BFBFBF;
}
.btn-show-truncated-details {
    cursor: pointer;
    color: #31708f;
}
.modal-body .form-group {
    margin-bottom: 5px;
}
.pagination {
    margin-top: 5px;
}
