<div ng-controller="WorkOrderCtrl">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button"
                ng-if="work_order.is_saved"
                ng-click="reset()" title="Clear saved info and re-create work order"
                class="pull-left btn btn-warning hide-print">
                <span class="glyphicon glyphicon-flash"></span> Reset</button>
            <button type="button" ng-click="print()" class="btn btn-default hide-print">Print</button>
            <button type="button" ng-click="save()" class="btn btn-primary hide-print">Save</button>
        </div>
    </div>

    <div id="form-work-order">
        <h3 class="text-center legend"><b>Work Order</b></h3>
        <form name="workOrderForm" ng-submit="save()">
            <div class="route-title">
                <strong>Route Name:</strong> {{ ::route.title}} <small><a class="hide-print" href="#/edit-crew-route/{{::route.id}}">(Edit)</a></small>
            </div>
            <div class="equipment-list">
                <strong>Equipment list:</strong> <span class="print-only" ng-bind="work_order.equipment_list"></span>
                <input type="text" autofocus class="hide-print input-equipment-list" ng-model="work_order.equipment_list">
            </div>
            <div class="start-time">
                <strong>Start time:</strong> <span ng-bind="work_order.start_time" class="print-only"></span>
                <input type="text" class="input-time hide-print" ng-model="work_order.start_time">
            </div>
            <input type="submit" class="hide"/>
        </form>
        <div class="estimates">
            <ul class="list-unstyled">
                <li ng-repeat="est in route.assignedEstimates">
                    <p>
                        <strong>ETA:</strong> <span ng-bind="est.eta" class="print-only"></span>
                        <input type="text" class="input-time hide-print" ng-model="est.eta">
                        <br>
                        <span>Estimate #{{::est.doc_number}}</span>
                        <span class="hide-print"><a href="#edit-estimate/{{::est.id}}">(Edit)</a></span>
                        <br>
                        Estimator: {{::est.estimators.join(', ')}}
                    </p>
                    <p>
                        <strong>Job Information:</strong>
                        <br>
                        {{ ::est.job_customer_display_name }}
                        <br>
                        {{ ::est | estimateJobFullAddress }} {{ ::est.job_country}}
                    </p>
                    <p>
                        <strong>Location Notes:</strong>
                        <br>
                        {{ ::est.location_notes}}
                    </p>
                    <p>
                        <strong>Product and Services:</strong>
                    </p>
                    <ul class="list-unstyled lines">
                        <li ng-repeat="line in ::est.lines"
                            class="worker-order-line"
                            ng-class="{'line-invisible': !line.visible, 'hide-print': !line.visible}">
                            <div ng-if="!line.is_empty">
                                <input
                                    type="checkbox"
                                        ng-model="line.visible"
                                        class="hide-print" title="Hide/Show on print">
                                <textarea class="hide-print input-worker-order-line" type="text"
                                    ng-if="!line.is_empty"
                                    ng-readonly="!line.visible"
                                    ng-model="line.worker_order_line">
                                </textarea>
                                <span class="print-only" ng-bind-html="line.worker_order_line | multilineTextToHtml"></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right ng-cloak">
            <button type="button" ng-click="print()" class="hide-print btn btn-default">Print</button>
            <button type="button" ng-click="save()" class="hide-print btn btn-primary">Save</button>
        </div>
    </div>
</div>
