<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""  />
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://sandbox-quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder. 
               The file should be removed manually
        
        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler
                  
        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">  
           
        For advance usage you can specify returnObject="true" to work with instance of contentWriter                
      -->
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>2</minorVersion>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprdw4MtP8qIbrHpFOi3rUNH2TWyhBqrUun7ycRY0Wr29SF" />
    <add key="AccessTokenSecret" value="xL4o9YNFJdIKcXNuBJdWkGVCGrARQFE2FZ18oysv" />
    <add key="ConsumerKey" value="qyprdKJdoY9FxLVPyRrQiGbDQiOfBb" />
    <add key="ConsumerSecret" value="ncC3SyyHCy7lGURYuWVhuPylCbytIof5ByKprnzk" />
    <add key="RealmID" value="1386054360" />
  </appSettings>
</configuration>