<div class="">
    <div class="loading-overlay" ng-if="isBusy">
        <div style="position: relative; display: inline-block">
            <div id="spinner"></div>
        </div>
    </div>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Customer Information</h3>
    </div>
    <div class="modal-body">
        <form method="post" class="form-horizontal" name="customerForm" ng-submit="save()">
            <input type="submit" class="hide">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            <label for="first_name">First name</label>
                            <input type="text"
                                autofocus
                                class="form-control"
                                name="first_name"
                                ng-maxlength="25"
                                ng-change="fillDisplayName()"
                                ng-model="customer.given_name">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="last_name">Last name</label>
                            <input type="text"
                                class="form-control"
                                name="last_name"
                                ng-change="fillDisplayName()"
                                ng-maxlength="25"
                                ng-model="customer.family_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label for="display_name" class="required">Display name<span>(*)</span></label>
                            <input type="text"
                                class="form-control"
                                name="display_name"
                                ng-maxlength="100"
                                ng-required="true"
                                ng-model="customer.display_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            <label for="primary_phone_number">Primary phone</label>
                            <input type="text"
                                class="form-control"
                                ng-maxlength="21"
                                name="primary_phone_number"
                                ui-mask="999-999-9999"
                                model-view-value="true"
                                ng-model="customer.primary_phone_number">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="mobile_phone_number">Secondary phone</label>
                            <input type="text"
                                class="form-control"
                                ng-maxlength="21"
                                name="mobile_phone_number"
                                ui-mask="999-999-9999"
                                model-view-value="true"
                                ng-model="customer.mobile_phone_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="company_name">Company</label>
                            <input name="company_name"
                                ng-maxlength="50"
                                ng-model="customer.company_name"
                                class="form-control"/>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text"
                                class="form-control"
                                name="email"
                                multiple-emails
                                ng-maxlength="100"
                                ng-model="customer.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="email">Is sub-customer of</label>
                            <customers-select
                                options="customers"
                                ng-model="customer.parent_id"
                                on-customer-change="onParentChange()"
                                add-enabled="false"
                                edit-enabled="false">
                            </customers-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="notes">Notes</label>
                            <textarea name="notes" rows="3"
                                ng-model="customer.notes"
                                class="form-control"></textarea>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <legend>Billing address</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text"
                                class="form-control"
                                placeholder="Street"
                                name="bill_address"
                                ng-maxlength="255"
                                ng-model="customer.bill_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="City"
                                name="bill_city"
                                ng-maxlength="100"
                                ng-model="customer.bill_city">
                        </div>
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="State"
                                name="bill_state"
                                ng-maxlength="100"
                                ng-model="customer.bill_state">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="Zip code"
                                name="bill_zip_code"
                                ng-maxlength="31"
                                ng-model="customer.bill_zip_code">
                        </div>
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="Country"
                                name="bill_country"
                                ng-maxlength="100"
                                ng-model="customer.bill_country">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <legend class="pull-left">Shipping address</legend>
                    <small class="pull-right">
                        <a href="#" ng-click="$event.preventDefault(); fillShippingWithBilling();">Same as billing address</a></small>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text"
                                class="form-control"
                                placeholder="Street"
                                name="ship_address"
                                ng-maxlength="255"
                                ng-model="customer.ship_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="City"
                                name="ship_city"
                                ng-maxlength="100"
                                ng-model="customer.ship_city">
                        </div>
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="State"
                                name="ship_state"
                                ng-maxlength="100"
                                ng-model="customer.ship_state">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="Zip code"
                                name="ship_zip_code"
                                ng-maxlength="31"
                                ng-model="customer.ship_zip_code">
                        </div>
                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                placeholder="Country"
                                name="ship_country"
                                ng-maxlength="100"
                                ng-model="customer.ship_country">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <label title="Update the form after saving the customer info">
            <input type="checkbox" name="update_form" ng-model="updateFormFlag"> Update form</label>
        &nbsp;
        <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="isBusy">Save</button>
        <button class="btn btn-default" type="button" ng-click="close()" ng-disabled="isBusy">Close</button>
    </div>
</div>
