<selectize ng-model="ngModel" ng-disabled="ngDisabled" ng-change="onCustomerChangeEvent()" config="selectConfig" options="selectOptions">
</selectize>
<small ng-if="addingEnabled"><a href="#" ng-click="$event.preventDefault(); onAddCustomer()">
<span class="glyphicon glyphicon-plus"></span> New customer</a></small>

<small ng-if="editingEnabled && ngModel"><span>|</span> <a href="#" ng-click="$event.preventDefault(); onEditCustomer()"><span class="glyphicon glyphicon-info-sign"></span> Customer details</a></small>