<div id="list-referral" ng-controller="ListReferralRouteCtrl">
  <div class="table-tools">
    <a href="#/new-referral-route" class="btn btn-success"
      ng-if="hasCap('erpp_create_referral_routes')">
      Add new
    </a>
    <form name="searchRouteForm" class="form-inline pull-right" 
      ng-submit="searchRoute()">
      <div class="form-group">
        <input class="form-control" name="search"
          ng-model="title">
        <button class="btn btn-info" name="search">Search</button>
      </div>
    </form>
  </div>

  <table class="table table-bordered table-hover table-fixed header-fixed">
    <thead>
      <tr>
        <th style="width: 50px">ID</th>
        <th>Title</th>
        <th style="width: 155px">Date</th>
        <th style="width: 130px">Status</th>
        <th style="width: 120px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in referralRoutes">
        <td>
          <a href="#/edit-referral-route/{{::route.id}}" ng-if="hasCap('erpp_edit_referral_routes')"><span>{{::route.id}}</span></a>
          <span ng-if="!hasCap('erpp_edit_referral_routes')">{{::route.id}}</span>
        </td>

        <td>
          <a href="#/edit-referral-route/{{::route.id}}" ng-if="hasCap('erpp_edit_referral_routes')"><span>{{route.title}}</span></a>
          <span ng-if="!hasCap('erpp_edit_referral_routes')">{{::route.title}}</span>
        </td>

        <td><span>{{route.created_at}}</span></td>
        <td>
          <select 
            ng-if="hasCap('erpp_edit_referral_routes')"
            ng-init="route.new_status = route.status"
            ng-model="route.new_status"
            ng-options="status.value as status.label for status in $root.routeStatuses"
            ng-change="saveRouteStatus(route)">
          </select>
          <span ng-if="!hasCap('erpp_edit_referral_routes')">{{route.status}}</span>
        </td>
        <td>
          <a href="#/edit-referral-route/{{::route.id}}" ng-if="hasCap('erpp_edit_referral_routes')">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <p ng-if="!$root.isBusy && referralRoutes.length == 0" 
    class="text-center">
    No results were found!
  </p>
  <pagination ng-show="total"
    rotate="true"
    boundary-links="true"
    max-size="10" class="pagination-md"
    total-items="total"
    items-per-page="30"
    ng-model="currentPage"
    ng-change="pageChanged()">
  </pagination>   
</div>
