<div ng-controller="EditEstimateCtrl">
    <form class="form-horizontal" name="estimateForm" ng-submit="submitForm()" novalidate>
        <div class="row">
            <div class="col-md-5">
                <span class="top-leaf" ng-bind="::companyInfo.name"></span>
                <br>
                <span ng-bind="::companyInfo.mailing_address"></span>
                <br>
                Tel:
                <span ng-bind="::companyInfo.primary_phone_number"></span>
                Fax:
                <span ng-bind="::companyInfo.fax"></span>
            </div>
            <div class="col-md-3 text-center">
                <img ng-src="{{::$root.baseERPPluginUrl}}{{::companyInfo.logo_url}}" class="estimate-logo">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="service-argreement pull-right">
                        <span class="service-argreement">Service Agreement</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5 required" for="class_id">
                        Source<span>(*)</span></label>
                    <div class="col-sm-7">
                        <classes-select
                            options="classes"
                            ng-model="estimate.class_id"
                            ng-required="true"></classes-select>
                        <div class="help-block"
                            ng-messages="estimateForm.class_id.$error"
                            ng-if="estimateForm.class_id.$touched && estimateForm.class_id.$invalid">
                            <p ng-message="maxlength" class="text-danger">
                                Please enter less than 100 characters!
                            </p>
                            <p ng-message="required" class="text-danger">
                                This field is required!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5 required" for="txn_date">
                        Estimate Date<span>(*)</span></label>
                    <div class="col-sm-7">
                        <input class="form-control"
                            type="text"
                            uib-datepicker-popup
                            ng-required="true"
                            ng-init="openDatetxnPicker = false"
                            ng-focus="openDatetxnPicker = true"
                            is-open="openDatetxnPicker"
                            placeholder="yyyy-mm-dd"
                            name="txn_date"
                            ng-model="estimate.txn_date">
                        <div class="help-block"
                            ng-messages="estimateForm.txn_date.$error"
                            ng-if="estimateForm.txn_date.$touched && estimateForm.txn_date.$invalid">
                            <p ng-message="required" class="text-danger">
                                This field is required!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5 required" for="expiration_date">
                        Exp Date<span>(*)</span></label>
                    <div class="col-sm-7">
                        <input class="form-control"
                            type="text"
                            name="expiration_date"
                            uib-datepicker-popup
                            ng-init="openExpDatePicker = false"
                            is-open="openExpDatePicker"
                            ng-focus="openExpDatePicker = true"
                            placeholder="yyyy-mm-dd"
                            ng-required="true"
                            ng-model="estimate.expiration_date">
                        <div class="help-block"
                            ng-messages="estimateForm.expiration_date.$error"
                            ng-if="estimateForm.expiration_date.$touched && estimateForm.expiration_date.$invalid">
                            <p ng-message="required" class="text-danger">
                                This field is required!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5 required" for="status">
                        Status<span>(*)</span></label>
                    <div class="col-sm-7">
                        <select class="form-control" name="status" ng-model="estimate.status"
                            ng-options="status.value as status.label for status in ::estimateStatuses"
                            ng-required="true">
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-estimate">
            <div class="col-sm-6">
                <div class="billing-info">
                    <h3 class="text-center">Billing Information</h3>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required" for="customer_id">
                         Name<span>(*)</span></label>
                        <div class="col-sm-10">
                            <customers-select
                                options="customers"
                                ng-model="estimate.customer_id"
                                ng-required="true"
                                on-customer-change="onBillCustomerChange()"
                                on-customer-update="onBillCustomerUpdate()">
                            </customers-select>
                            <div class="help-block"
                                ng-messages="estimateForm.customer_id.$error"
                                ng-if="estimateForm.customer_id.$touched && estimateForm.customer_id.$invalid">
                                <p ng-message="required" class="text-danger">
                                    This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="bill_company_name">Company</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="bill_company_name"
                                ng-model="estimate.bill_company_name"
                                ng-maxlength="50">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_company_name.$error"
                                ng-if="estimateForm.bill_company_name.$touched && estimateForm.bill_company_name.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Maximum by 50 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required" for="bill_address">
                            Address<span>(*)</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" name="bill_address"
                                ng-model="estimate.bill_address" ng-required="true"
                                ng-maxlength="100">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_address.$error"
                                ng-if="estimateForm.bill_address.$touched && estimateForm.bill_address.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 100 characters!
                                </p>
                                <p ng-message="required" class="text-danger">
                                    This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="bill_city">
                            City</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="bill_city" ng-maxlength="255"
                                ng-model="estimate.bill_city">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_city.$error"
                                ng-if="estimateForm.bill_city.$touched && estimateForm.bill_city.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                        <label class="control-label col-sm-2" for="bill_state">
                            State</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="bill_state"
                                ng-maxlength="255"
                                ng-model="estimate.bill_state">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_state.$error"
                                ng-if="estimateForm.bill_state.$touched && estimateForm.bill_state.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="bill_zip_code">
                            Zip</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="bill_zip_code"
                                ng-maxlength="31"
                                ng-model="estimate.bill_zip_code">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_zip_code.$error"
                                ng-if="estimateForm.bill_zip_code.$touched && estimateForm.bill_zip_code.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 32 characters!
                                </p>
                            </div>
                        </div>
                        <label class="control-label col-sm-2"
                            for="bill_country">
                            Country
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control"
                            name="bill_country"
                            ng-model="estimate.bill_country"
                            ng-maxlength="255">
                            <div class="help-block"
                                ng-messages="estimateForm.bill_country.$error"
                                ng-if="estimateForm.bill_country.$touched && estimateForm.bill_country.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="job-info">
                    <h3 class="text-center">Job Information</h3>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required" for="job_customer_id">
                            Name<span>(*)</span></label>
                        <div class="col-sm-10">
                            <customers-select
                                options="jobCustomers"
                                ng-model="estimate.job_customer_id"
                                ng-required="true"
                                on-customer-change="onJobCustomerChange()"
                                on-customer-update="onJobCustomerUpdate()">
                            </customers-select>
                            <div class="help-block"
                                ng-messages="estimateForm.job_customer_id.$error"
                                ng-if="estimateForm.job_customer_id.$touched && estimateForm.job_customer_id.$invalid">
                                <p ng-message="required" class="text-danger">
                                    This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="job_company_name">Company</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="job_company_name"
                                ng-model="estimate.job_company_name"
                                ng-maxlength="50">
                            <div class="help-block"
                                ng-messages="estimateForm.job_company_name.$error"
                                ng-if="estimateForm.job_company_name.$touched && estimateForm.job_company_name.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Maximum by 50 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required" for="address">
                            Address<span>(*)</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="job_address"
                                ng-required="true" ng-model="estimate.job_address"
                                ng-maxlength="255">
                            <div class="help-block"
                                ng-messages="estimateForm.job_address.$error"
                                ng-if="estimateForm.job_address.$touched && estimateForm.job_address.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                                <p ng-message="required" class="text-danger">
                                    This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="job_city">
                            City</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="job_city"
                                ng-model="estimate.job_city" ng-maxlength="255">
                            <div class="help-block"
                                ng-messages="estimateForm.job_city.$error"
                                ng-if="estimateForm.job_city.$touched && estimateForm.job_city.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                        <label class="control-label col-sm-2" for="job_state">
                            State</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="job_state"
                                ng-model="estimate.job_state" ng-maxlength="255">
                            <div class="help-block"
                                ng-messages="estimateForm.job_state.$error"
                                ng-if="estimateForm.job_state.$touched && estimateForm.job_state.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="job_zip_code">Zip</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="job_zip_code"
                                ng-model="estimate.job_zip_code" ng-maxlength="31">
                            <div class="help-block"
                                ng-messages="estimateForm.job_zip_code.$error"
                                ng-if="estimateForm.job_zip_code.$touched && estimateForm.job_zip_code.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 32 characters!
                                </p>
                            </div>
                        </div>
                        <label class="control-label col-sm-2"for="job_country">Country</label>
                        <div class="col-sm-4">
                            <input name="job_country"
                                class="form-control"
                                ng-model="estimate.job_country"
                                ng-maxlength="255">
                            <div class="help-block"
                                ng-messages="estimateForm.job_country.$error"
                                ng-if="estimateForm.job_country.$touched && estimateForm.job_country.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Please enter less than 255 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2"
                        for="primary_phone_number">
                        Primary Phone</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="primary_phone_number"
                            ng-model="estimate.primary_phone_number"
                            ng-maxlength="255">
                        <div class="help-block"
                            ng-messages="estimateForm.primary_phone_number.$error"
                            ng-if="estimateForm.primary_phone_number.$touched && estimateForm.primary_phone_number.$invalid">
                            <p ng-message="maxlength" class="text-danger">
                                Please enter less than 255 characters!
                            </p>
                        </div>
                    </div>
                    <label class="control-label col-sm-2"
                        for="mobile_phone_number">
                        Secondary Phone</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="mobile_phone_number"
                        ng-model="estimate.mobile_phone_number"
                        ng-maxlength="255">
                        <div class="help-block"
                            ng-messages="estimateForm.mobile_phone_number.$error"
                            ng-if="estimateForm.mobile_phone_number.$touched && estimateForm.mobile_phone_number.$invalid">
                            <p ng-message="maxlength" class="text-danger">
                                Please enter less than 255 characters!
                            </p>
                        </div>
                    </div>
                    <label class="control-label col-sm-1 required" for="email">
                        Email<span>(*)</span></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="email"
                            ng-model="estimate.email"
                            multiple-emails
                            ng-maxlength="100"
                            ng-required="true">
                        <div class="help-block"
                            ng-messages="estimateForm.email.$error"
                            ng-if="estimateForm.email.$touched && estimateForm.email.$invalid">
                            <p ng-message="required" class="text-danger">
                                This field is required!
                            </p>
                            <p ng-message="multipleEmails" class="text-danger">
                                Separate multiple emails with commas
                            </p>
                            <p ng-message="maxlength" class="text-danger">
                                Maximum by 100 characters!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 location-notes">
                <div class="form-group">
                    <label for="location_notes">Location Notes</label>
                    <textarea class="form-control" name="location_notes" rows="5"
                        ng-model="estimate.location_notes">
                    </textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-fixed header-fixed wpt-table lines-table">
                    <thead>
                      <tr>
                        <th style="width: 30px;" ng-if="::hasCap('erpp_view_estimate_total')"></th>
                        <th style="width: 30px;">#</th>
                        <th style="width: 280px;">Product/Service</th>
                        <th style="width: 370px;">Description</th>
                        <th style="width: 50px;">QTY</th>

                        <th style="width: 70px;" ng-if="::hasCap('erpp_view_estimate_total')">Rate</th>
                        <th style="width: 100px;" ng-if="::hasCap('erpp_view_estimate_total')">Amount</th>
                        <th style="width: 30px;" ng-if="::hasCap('erpp_view_estimate_total')"></th>
                      </tr>
                    </thead>
                    <tbody as-sortable="lineItemsDragListeners" data-ng-model="estimate.lines" is-disabled="estimate.lines.length == 1">
                      <tr ng-repeat="line in estimate.lines" as-sortable-item>
                        <td ng-if="::hasCap('erpp_view_estimate_total')"><span class="glyphicon glyphicon-th" data-as-sortable-item-handle></span></td>
                        <td><span ng-bind="$index + 1"></span></td>
                        <td>
                            <selectize
                                ng-model="line.product_service_id"
                                ng-change="changeLineProductService(line)"
                                config="productServicesSelectConfig"
                                options="productServices">
                            </selectize>
                        </td>
                        <td>
                            <textarea class="form-control" ng-model="line.description" ng-readonly="::!hasCap('erpp_view_estimate_total')"/></textarea>
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^\d+$/" ng-model="line.qty" ng-change="updateTotal()" ng-readonly="::!hasCap('erpp_view_estimate_total')"/>
                        </td>
                        <td ng-if="::hasCap('erpp_view_estimate_total')">
                            <input type="number" ng-model="line.rate" ng-change="updateTotal()"/></td>
                        <td ng-if="::hasCap('erpp_view_estimate_total')">
                            <span ng-bind="line.total"></span>
                        </td>
                        <td ng-if="::hasCap('erpp_view_estimate_total')">
                            <span ng-click="removeLine(line)" class="glyphicon glyphicon-trash text-danger"></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div ng-if="::hasCap('erpp_view_estimate_total')">
                        <button type="button" class="btn btn-default btn-lines" ng-click="addLine()">Add Line</button>
                        <button type="button" class="btn btn-default btn-lines" ng-click="removeAllLines()">Clean All Lines</button>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <span class="estimate-total" ng-if="::hasCap('erpp_view_estimate_total')">
                        Estimate total: $<span ng-bind="estimate.total"></span>
                    </span>
                    <br/>
                    <span>Quoted Prices Good for 30 Days</span>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-2" for="date_of_signature">
                    Date of Signature</label>
                <div class="col-md-3">
                    <input class="form-control"
                        type="text"
                        name="date_of_signature"
                        uib-datepicker-popup
                        ng-init="openDateSignaturePicker = false"
                        is-open="openDateSignaturePicker"
                        ng-model="estimate.date_of_signature"
                        ng-focus="openDateSignaturePicker = true"
                        placeholder="yyyy-mm-dd">
                </div>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="customer_signature">Customer Signature Authorizes Commencement of Work</label>
                            <br>
                            <button type="button"
                                ng-click="showSignatureBox()"
                                class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Sign</button>
                        </div>
                        <div class="col-sm-12">
                            <div class="div-customer-signature-preview text-center" ng-show="signatureEncoded">
                                <img ng-src="{{signatureEncoded}}" ng-if="signatureEncoded"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="sold_by_1">Sold By</label>
                        <div class="col-sm-9">
                            <selectize
                                config="soldBySelectConfig"
                                ng-model="estimate.sold_by_1"
                                options="employees">
                            </selectize>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="sold_by_2">Sold By</label>
                        <div class="col-sm-9">
                            <selectize
                                config="soldBySelectConfig"
                                ng-model="estimate.sold_by_2"
                                options="employees">
                            </selectize>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="form-group">
                        <label class="col-sm-12" for="estimate_disclaimer">
                            Disclaimer</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="5"
                                ng-maxlength="1000"
                                ng-model="estimate.disclaimer" name="estimate_disclaimer">
                            </textarea>
                            <div class="help-block" ng-messages="estimateForm.estimate_disclaimer.$error"
                                ng-if="estimateForm.estimate_disclaimer.$touched && estimateForm.estimate_disclaimer.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Maximum by 1000 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="estimate_footer">
                            Accepted Agreement</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="7"
                                ng-maxlength="1000"
                                ng-model="estimate.estimate_footer" name="estimate_footer">
                            </textarea>
                            <div class="help-block" ng-messages="estimateForm.estimate_footer.$error"
                                ng-if="estimateForm.estimate_footer.$touched && estimateForm.estimate_footer.$invalid">
                                <p ng-message="maxlength" class="text-danger">
                                    Maximum by 1000 characters!
                                </p>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                        <div class="col-sm-12">
                            <label>Estimate Pictures</label>
                            <div ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                                <div class="upload dropzone" id="drop-container">
                                    <ul class="estimate-attachments-list">
                                        <li ng-repeat="attachment in estimate.attachments">
                                            <a target="_blank" href="{{attachment.tmp_download_uri}}">
                                                <span ng-bind="attachment.file_name"></span>
                                            </a>
                                            <span class="text-danger remove-attachment" ng-click="removeAttachment(attachment)">X</span>
                                        </li>
                                    </ul>
                                    <hr ng-if="estimate.attachments.length">
                                    <p class="text-center">
                                        Drag and drop or <span class="text-primary drop-clickable">click to select</span>
                                        <br>
                                        <span ng-show="isUploading" class="text-warning">
                                            <span ng-show="uploadProgress < 100">Upload progress: <span ng-bind="uploadProgress"></span>%</span>
                                            <br>
                                            <span ng-show="uploadProgress >= 100">Processing ... </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div id="attachment-previews" class="hide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="estimateForm.$invalid || $root.isBusy">Save</button>
                    <button type="button" class="btn btn-default" ng-click="submitForm(true)"
                        ng-disabled="estimateForm.$invalid || isUploading || $root.isBusy">Save and Send</button>
                </div>
            </div>
        </div>
    </form>
 <div class="hide" id="dropzone-preview-template">
        <div class="dz-preview dz-file-preview">
          <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <img data-dz-thumbnail />
          </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark"><span>✔</span></div>
                <div class="dz-error-mark"><span>✘</span></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>
    <div class="modal fade" ng-class="{'in': showSendModal}" ng-style="{'display': showSendModal ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send estimate</h4>
                </div>
                <form role="form" name="sendMailForm">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="email">To</label>
                        <input type="text" class="form-control" placeholder="Email to receive"
                            multiple-emails
                            ng-required="true"
                            ng-model="sendMailData.to">
                      </div>
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject"
                            ng-required="true"
                            ng-model="sendMailData.subject">
                      </div>
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="5" placeholder="Content"
                            ng-required="true"
                            ng-model="sendMailData.body"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="sendMailEstimate()" ng-disabled="sendMailForm.$invalid || $root.isBusy">Send</button>
                      <button class="btn" type="button" ng-click="showSendModal = false">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <customer-signature-modal on-save="onSaveSignature(signatureEncoded)" show="isShowModalSignature">
    </customer-signature-modal>
</div>
