<div id="list-estimate" ng-controller="ListEstimateCtrl">
    <div class="row header-estimate" style="margin-bottom:10px">
      <div class="col-md-2">
        <a href="#/new-estimate" class="btn btn-success" ng-if="::hasCap('erpp_create_estimates')">Add new</a>
      </div>
      <div class="col-md-10">
        <form name="searchEstimateForm"
            ng-submit="searchEstimate()">
                <div class="col-md-5 col-sm-4 n-p">
                    <div class="col-sm-12">
                        <customer-typeahead on-select="onSelectCustomer(item)" ng-model="filter.keyword" placeholder="Search by customer name, number ... "></customer-typeahead>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 n-p">
                    <label class="control-label col-sm-4">Status:</label>
                    <div class="col-sm-8">
                        <select ng-model="filter.status" class="form-control"
                            ng-change="changeFilterStatus()"
                            ng-options="status.value as status.label for status in filterStatuses">
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 n-p text-right">
                    <button class="btn btn-info" name="search">Search</button>
                    <button class="btn btn-default btn-sm"
                        name="search" ng-click="clearSearch()">
                        Clear
                    </button>
                </div>
        </form>
      </div>
  </div>

    <table class="table table-bordered table-hover table-fixed header-fixed">
        <thead>
          <tr>
            <th style="width: 130px;">Estimate Date</th>
            <th>Customer</th>
            <th style="width: 100;">Number</th>
            <th style="width: 120px;">Source</th>
            <th style="width: 130px;">Exp Date</th>
            <th ng-if="::hasCap('erpp_view_estimate_total')">Total</th>
            <th style="width: 100px;">Status</th>
            <th style="width: 60px;">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="est in estimates">
                <td>
                  <a href="#/edit-estimate/{{::est.id}}" ng-if="::hasCap('erpp_edit_estimates')"><span>{{::est.txn_date | date: 'MM-dd-yyyy'}}</span></a>
                  <span ng-if="::!hasCap('erpp_edit_estimates')">{{::est.txn_date}}</span>
                </td>
                <td class="address-cell" ng-class="{'danger': est.geolocation.is_checked && !est.geolocation.ok }">
                    <a href="#/edit-estimate/{{::est.id}}" ng-if="::hasCap('erpp_edit_estimates')"><span>{{::est.billing_customer_display_name}}</span></a>
                    <span ng-if="::!hasCap('erpp_edit_estimates')">{{::est.customer_display_name}}</span>
                    <span class="glyphicon glyphicon-repeat spin text-warning"
                        ng-class="{'visibility': est.geolocation.is_checking}"></span>
                    <span class="glyphicon glyphicon-ok text-success" title="Geolocation error"
                        ng-class="{'visibility': est.geolocation.is_checked && est.geolocation.ok}"></span>
                    <span class="glyphicon glyphicon glyphicon-warning-sign text-danger" title="Geolocation is OK"
                        ng-class="{'visibility': est.geolocation.is_checked && !est.geolocation.ok}"></span>
                </td>
                <td>
                  <a href="#/edit-estimate/{{::est.id}}" ng-if="::hasCap('erpp_edit_estimates')"><span>{{::est.doc_number}}</span></a>
                  <span ng-if="::!hasCap('erpp_edit_estimates')">{{::est.doc_number}}</span>
                </td>
                <td><span>{{::est.source_name}}</span></td>

                <td><span>{{::est.expiration_date | date: 'MM-dd-yyyy'}}</span></td>

                <td ng-if="::hasCap('erpp_view_estimate_total')"><span>${{::est.total}}</span></td>

                <td><span>{{::est.status}}</span></td>
                <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">View
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#/edit-estimate/{{::est.id}}" ng-if="::hasCap('erpp_edit_estimates')">Edit</a>
                        </li>
                        <li>
                          <a target="_blank" href="{{::$root.baseAPIPath}}&_do=printEstimate&id={{::est.id}}" ng-if="::hasCap('erpp_print_estimates')">Print</a></li>
                        <li>
                          <a ng-click="openSendMailModal(est)" ng-if="::hasCap('erpp_send_estimates')">Send</a>
                        </li>
                      </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="!$root.isBusy && estimates.length == 0" class="text-center">
      No results were found!
    </p>
    <div class="modal fade" ng-class="{'in': showModal}" ng-style="{'display': showModal ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Send estimate #{{ sendMailData.doc_number }}
                    <button type="button" class="close btn-close" aria-label="Close"
                    ng-click="showModal = false"><span aria-hidden="true">×</span>
                  </button>
                </div>
                <form role="form" name="sendEmailForm">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="email">To</label>
                        <input type="text" class="form-control" placeholder="Email to receive"
                            multiple-emails
                            ng-required="true"
                            ng-model="sendMailData.to">
                      </div>
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject"
                            ng-required="true"
                            ng-model="sendMailData.subject">
                      </div>
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control estimate-mail-content" rows="8" placeholder="Content"
                            ng-required="true"
                            ng-model="sendMailData.body"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="sendMailEstimate()" ng-disabled="sendEmailForm.$invalid || $root.isBusy">Send</button>
                      <button class="btn btn-default" type="button" ng-click="previewPdfEstimate(sendMailData)">Print Preview
                      </button>
                      <button class="btn" type="button" ng-click="showModal = false">Cancel
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- show model preview pdf estimate -->
    <div class="modal fade modal-print-estimate" ng-class="{'in': showModalPdf}" ng-style="{'display': showModalPdf ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  Print Preview
                  <button type="button" class="close btn-close" aria-label="Close"
                    ng-click="showModalPdf = false"><span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <object type="application/pdf"
                    data="{{::$root.baseAPIPath}}&_do=previewPdfEstimate&id={{sendMailData.id}}" width="100%">
                  </object>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" type="button" ng-click="showModalPdf = false">Close
                  </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <erp-pagination></erp-pagination>
      </div>
      <div class="col-md-4 text-right">
          <button type="button" class="btn btn-info"
              title="Check geolocation issue for the displaying items"
              ng-if="!isBusy && estimates.length != 0"
              ng-click="startCheckGeolocation()"
              ng-disabled="isCheckingGeoLocation">
              <span class="glyphicon glyphicon-map-marker"></span> Check for geolocation issue</button>
      </div>
    </div>
</div>
