body.print {
    font-size: 10px !important;
}
body {
    font-size: 13px;
    line-height: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.section {
    margin: 20px 0;
    clear: both;
    overflow: auto;
    width: auto;
}
table {
    border-collapse: collapse;
}
table tr.head td {
    font-weight: 600;
    background-color: #eee;
}
table td {
    padding: 5px;
}
td.invisible {
    border-left: none !important;
    border-bottom: none !important;
    background: none !important;
    border-top: none !important;
}

/* Header section */
.header > div {
    display: inline-block;
    float: left;
}
.header .logo {
    width: 25%;
}
.header .logo img{
    max-width: 70%;
}
.header .company-info {
    width: 45%;
}
.header .company-info .name {
    font-size: 125%;
    font-weight: 600;
}
.header .estimate-info {
    float: right;
    text-align: right;
    width: 30%;
}
.header .estimate-info .title {
    font-size: 125%;
    font-weight: 600;
    float: right;
}
.header .estimate-info table {
    text-align: center;
    float: right;
    width: 100%;
}
table.bordered td {
    border: 1px solid #ddd;
}
table.bordered-columns { border: none; border-collapse: collapse; }
table.bordered-columns td { border-left: 1px solid #ddd; }
table.bordered-columns td:first-child { border-left: none; }

/* Billing/shipping address section */
.address {
    padding: 0 50px;
    margin-top: 30px;
}
.address > div {
    display: inline-block;
    float: left;
    width: 50%;
}
.address table {
    width: 250px;
}

/* Product/service section */
.lines table {
    width: 100%;
    border: 1px solid #ddd;
}
.lines .product-name {
    font-weight: 600;
}
.lines .line-blank {
    display: none;
}
.lines table td li {
    padding-left: 7px;
}
/* Footer section */
.footer > div {
    display: inline-block;
}
.footer .left {
    float: left;
    width: 65%;
}
.footer .right {
    float: right;
    width: 30%;
}
