<div id="list-referral" ng-controller="ListReferralCtrl">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-4 col-xs-12">
            <a href="#/new-referral" class="btn btn-success"
              ng-if="hasCap('erpp_create_referrals')">
              Add new
            </a>
        </div>
        <div class="col-md-8 col-xs-12">
            <form name="searchReferralForm" ng-submit="searchReferral()">
                <div class="col-md-9 n-p">
                    <input class="form-control" name="search"
                        ng-model="filter.keyword" placeholder="Search by customer name">
                </div>
                <div class="col-md-3 text-right n-p">
                    <button class="btn btn-info" name="search" type="submit">Search</button>
                    <button class="btn btn-default btn-sm" type="button"
                        ng-click="clearSearch()">
                        Clear
                    </button>
                </div>
            </form>
        </div>
    </div>
  <table class="table table-bordered table-hover table-fixed header-fixed">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date requested</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Date service</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ref in referrals | orderBy:'date_requested'">
        <td>
          <a href="#/edit-referral/{{ref.id}}" ng-if="hasCap('erpp_edit_referrals')"><span>{{ref.customer_display_name}}</span></a>
          <span ng-if="!hasCap('erpp_edit_referrals')">{{ref.customer_display_name}}</span>
        </td>
        <td><span>{{ref.date_requested}}</span></td>
        <td><span>{{ref.address}}</span></td>
        <td><span>{{ref.primary_phone}}</span></td>
        <td><span>{{ref.date_service}}</span></td>
        <td>
            <select ng-if="hasCap('erpp_edit_referrals')"
                ng-init="ref.new_status = ref.status"
                ng-model="ref.new_status"
                ng-options="status.value as status.label for status in $root.referralStatuses"
                ng-change="showModalUpdateStatus(ref)">
            </select>
            <span ng-if="!hasCap('erpp_edit_referrals')">{{::ref.status}}</span>
        </td>
        <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">View
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-if="hasCap('erpp_edit_referrals')"><a href="#/edit-referral/{{ref.id}}">Edit</a></li>
                <li ng-if="hasCap('erpp_print_referrals')"><a target="_blank" href="{{$root.baseAPIPath}}&_do=printReferral&id={{ref.id}}">Print</a></li>
              </ul>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p ng-if="!$root.isBusy && referrals.length == 0"
    class="text-center">
    No results were found!
  </p>
  <div class="html-pagination hide">
    <ul class="pagination" style="display: none;">
      <li><a href="#" rel="prev">Previous</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#" rel="next">Next</a></li>
    </ul>
  </div>
  <div class="modal fade" ng-class="{'in': showAssignModal}" ng-style="{'display': showAssignModal ? 'block' : 'none'}">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4>Please select route to assign:</h4>
              </div>
              <form role="form" name="assignReferralForm">
                  <div class="modal-body">
                    <div class="form-group">
                      <select
                        class="form-control"
                        ng-model="currentReferral.referral_route_id"
                        ng-required="true"
                        ng-options="route.id as route.title for route in referralRoutes">
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="updateReferralStatus()"
                        ng-disabled="assignReferralForm.$invalid || $root.isBusy">Save</button>
                    <button class="btn" type="button" ng-click="cancelAssignReferral()">Cancel</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
    <pagination ng-show="total"
      rotate="true"
      boundary-links="true"
      max-size="10" class="pagination-md"
      total-items="total"
      items-per-page="30"
      ng-model="currentPage"
      ng-change="pageChanged()">
    </pagination>
</div>
