<div>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li><a href="#company-info">Company Info</a></li>
        <li class="active"><a href="#settings">Settings</a></li>
        <li><a href="#quickbooks-sync">Quickbooks Synchronize</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Content of Sync -->
        <div role="tabpanel" class="tab-pane active" id="gmap_api" ng-controller="SettingsCtrl">
            <div class="row">
                <form class="form-horizontal" method="post" name="gmap_api" ng-submit="submitForm()" novalidate>
                    <!-- Content left of Company Info-->
                    <div class="col-sm-6">
                        <div class="space_nomal">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Gmap API Key</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" name="gmap_api_key" ng-model="setting.gmap_api_key" required>
                                    <span style="color:red" ng-show="gmap_api.gmap_api_key.$dirty && gmap_api.gmap_api_key.$invalid">
                                        <span ng-show="gmap_api.gmap_api_key.$error.required">Google Maps API is required.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4"
                                for="gmail_username">Gmail Username</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text"
                                    name="gmail_username"
                                    ng-model="setting.gmail_username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4"
                                for="gmail_password">Gmail Password</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password"
                                    name="gmail_password"
                                    ng-model="setting.gmail_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4"
                                for="gmail_server">Gmail Server</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text"
                                    name="gmail_server"
                                    ng-model="setting.gmail_server">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4"
                                for="gmail_port">Gmail Port</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text"
                                    name="gmail_port"
                                    ng-model="setting.gmail_port">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" ng-click="sendTestEmail()" class="btn btn-default">Send a test email
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                <form>
            </div>
        </div>
        <!-- End Content of Sync-->
      </div>
    </div>
</div>
