<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""  />
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://sandbox-quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="false" requestResponseLoggingDirectory="/IdsLogs" />
      </logger>
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>2</minorVersion>
    </ipp>
  </intuit>
  <appSettings>
  </appSettings>
</configuration>
