<div ng-controller="AddEstimateRouteCtrl">
    <div class="row form-route">
        <div class="col-lg-12">
            <form-estimate-route></form-estimate-route>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="queue-header">
                <h5 class="route-box-title">Assigned Routes (<span ng-bind="assignedReferrals.length"></span>)</h5>
                <div class="queue-toolbar">
                    Sort:
                    <select class="sort-by-select"
                        ng-model="assigned_queue_sort_by"
                        ng-change="sortAssignedQueue()"
                        ng-options="sort.value as sort.label for sort in ::sortOptions">
                    </select>
                </div>
            </div>
            <div class="assigned-routes" ui-tree="assignedListDndOptions" data-max-depth="1" data-drag-delay="150">
                <ul ui-tree-nodes ng-model="assignedReferrals">
                    <li ui-tree-node class="box-assign" ng-repeat="referral in assignedReferrals">
                        <span ui-tree-handle class="drag-handler glyphicon glyphicon-th-large"></span>
                        <a href="#/edit-job-request/{{::referral.id}}" target="_blank" ng-if="::hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</a>
                        <span ng-if="::!hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</span>
                        <br>
                        {{:: referral | referralFullAddress }}
                        <br>
                        <span>Phone: {{::referral.primary_phone_number}}</span><br>
                        <span>Date: {{::referral.date_requested}}</span><br>
                        <span>Estimator: {{::referral.estimator_full_name}}</span><br>
                        <span>Status: {{::referral.status}}</span>
                    </li>
                </ul>
            </div>
            <div ng-if="::!hasCap('erpp_hide_estimate_pending_list')">
                <div class="queue-header">
                    <h5 class="route-box-title">Pending Routes (<span ng-bind="pendingReferrals.length"></span>)</h5>
                    <div class="queue-toolbar">
                        Sort:
                        <select class="sort-by-select"
                            ng-model="$parent.pending_queue_sort_by"
                            ng-change="sortPendingQueue()"
                            ng-options="sort.value as sort.label for sort in ::sortOptions">
                        </select>
                    </div>
                </div>
                <div class="assigned-routes" ui-tree="pendingListDndOptions" data-max-depth="1" data-drag-delay="150">
                    <ul ui-tree-nodes="" ng-model="pendingReferrals">
                        <li class="box-assign" ng-repeat="referral in pendingReferrals" ui-tree-node>
                            <span ui-tree-handle class="drag-handler glyphicon glyphicon-th-large"></span>
                            <a href="#/edit-job-request/{{::referral.id}}" target="_blank" ng-if="::hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</a>
                            <span ng-if="::!hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</span>
                            <br>
                            {{:: referral | referralFullAddress }}
                            <br>
                            <span>Phone: {{::referral.primary_phone_number}}</span><br>
                            <span>Date: {{::referral.date_requested}}</span><br>
                            <span>Estimator: {{::referral.estimator_full_name}}</span><br>
                            <span>Status: {{::referral.status}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="gmap-container">
                <ui-gmap-google-map center='map.options.center' zoom='map.options.zoom' control="map.control">
                    <ui-gmap-marker
                        icon="startMarkerIcon"
                        idkey="routeOrigin"
                        coords="routeOrigin">
                        <ui-gmap-window>
                            <p>
                                {{::routeOriginAddress}}
                            </p>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                    <ui-gmap-marker ng-repeat="referral in pendingReferrals"
                        icon="::pendingMarkerIcon"
                        idkey="$index" coords="referral.coords"
                        >
                        <ui-gmap-window>
                            <p>
                                <a href="#/edit-job-request/{{::referral.id}}" target="_blank" ng-if="::$root.hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</a>
                                <span ng-if="::!$root.hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</span>
                                <br>
                                {{:: referral | referralFullAddress }}
                                <br>
                                Phone: {{::referral.primary_phone_number}}<br/>
                                Date: {{::referral.date_requested}}<br/>
                                Estimator: {{::referral.estimator_full_name}}<br>
                                Status: {{::referral.status}}
                            </p>
                        </ui-gmap-window>
                    </ui-gmap-marker>

                    <ui-gmap-marker ng-repeat="referral in assignedReferrals"
                        idkey="$index" coords="referral.coords"
                        >
                        <ui-gmap-window>
                            <p>
                                <a href="#/edit-job-request/{{::referral.id}}" target="_blank" ng-if="::$root.hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</a>
                                <span ng-if="::!$root.hasCap('erpp_edit_job_requests')">{{::referral.customer_display_name}}</span>
                                <br>
                                {{:: referral | referralFullAddress }}
                                <br>
                                Phone: {{::referral.primary_phone_number}}<br/>
                                Date: {{::referral.date_requested}}<br/>
                                Estimator: {{::referral.estimator_full_name}}<br>
                                Status: {{::referral.status}}
                            </p>
                        </ui-gmap-window>
                    </ui-gmap-marker>

                </ui-gmap-google-map>
            </div>

            <h4>Recent Saved Routes</h4>
            <table class="table table-bordered table-fixed header-fixed">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Estimator Assigned</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th style="width: 70px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="route in recentRoutes">
                    <td><span>{{::route.title}}</span></td>
                    <td><span>{{::route.estimator_full_name}}</span></td>
                    <td><span>{{::route.created_at}}</span></td>
                    <td><span>{{::route.status}}</span></td>
                    <td class="text-center">
                      <a href="#/edit-estimate-route/{{::route.id}}" ng-if="::hasCap('erpp_edit_estimate_routes')">View</a>
                    </td>
                  </tr>
                  <tr ng-if="!$root.isBusy && recentRoutes.length == 0">
                      <td colspan="4" class="text-center">
                          No routes created yet
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
