<div id="list-referral" ng-controller="ListCrewRouteCtrl">
  <div class="row" style="margin-bottom: 10px">
        <div class="col-md-4 col-xs-12">
            <a href="#/new-crew-route" ng-if="::hasCap('erpp_create_crew_routes')"
                class="btn btn-success">Add new</a>
        </div>
        <div class="col-md-8 col-xs-12">
            <form name="searchRouteForm" ng-submit="searchRoute()">
                <div class="col-md-9 n-p">
                    <input class="form-control" name="search" placeholder="Search in title .."
                        ng-model="filter.keyword">
                </div>
                <div class="col-md-3 text-right n-p">
                    <button class="btn btn-info" type="submit">Search</button>
                    <button class="btn btn-default btn-sm" type="button"
                      name="search" ng-click="clearSearch()">
                      Clear
                    </button>
                </div>
            </form>
        </div>
  </div>

  <table class="table table-bordered table-hover table-fixed header-fixed">
    <thead>
        <tr>
          <th style="width: 50px">ID</th>
          <th>Title</th>
          <th style="width: 155px">Date</th>
          <th style="width: 130px">Status</th>
          <th style="width: 120px">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="route in estimateRoutes">
          <td>
            <a href="#/edit-crew-route/{{::route.id}}" ng-if="::hasCap('erpp_edit_crew_routes')"><span>{{::route.id}}</span></a>
            <span ng-if="::!hasCap('erpp_edit_crew_routes')">{{::route.id}}</span>
          </td>
          <td>
            <a href="#/edit-crew-route/{{::route.id}}" ng-if="::hasCap('erpp_edit_crew_routes')"><span>{{::route.title}}</span></a>
            <span ng-if="::!hasCap('erpp_edit_crew_routes')">{{::route.title}}</span>
          </td>
          <td><span>{{route.created_at}}</span></td>
          <td>
            <select
              ng-if="::hasCap('erpp_edit_crew_routes')"
              ng-init="route.new_status = route.status" ng-model="route.new_status" ng-options="status.value as status.label for status in $root.routeStatuses"
              ng-change="saveRouteStatus(route)">
            </select>
            <span ng-if="::!hasCap('erpp_edit_crew_routes')">{{::route.status}}</span>
          </td>
          <td>
            <a href="#/edit-crew-route/{{::route.id}}" ng-if="::hasCap('erpp_edit_crew_routes')">Edit</a>
          </td>
        </tr>
    </tbody>
  </table>
  <p ng-if="!$root.isBusy && estimateRoutes.length == 0"
    class="text-center">
    No results were found!
  </p>
  <pagination ng-show="total"
    rotate="true"
    boundary-links="true"
    max-size="10" class="pagination-md"
    total-items="total"
    items-per-page="30"
    ng-model="currentPage"
    ng-change="pageChanged()">
  </pagination>
</div>
