<div id="list-referral" ng-controller="ListEstimateRouteCtrl">
  <div class="table-tools">
    <a href="#/new-estimate-route" class="btn btn-success">Add new</a>
  </div>

  <table class="table table-bordered table-hover table-fixed header-fixed">
    <thead>
        <tr>
          <th style="width: 50px">ID</th>
          <th>Title</th>
          <th style="width: 155px">Date</th>
          <th style="width: 130px">Status</th>
          <th style="width: 120px">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="route in estimateRoutes">
          <td><a href="#/edit-estimate-route/{{route.id}}"><span>{{route.id}}</span></a></td>
          <td><a href="#/edit-estimate-route/{{route.id}}"><span>{{route.title}}</span></a></td>
          <td><span>{{route.created_at}}</span></td>
          <td>
            <select ng-init="route.new_status = route.status" ng-model="route.new_status" ng-options="status.value as status.label for status in $root.routeStatuses"
              ng-change="saveRouteStatus(route)">
            </select>
          </td>
          <td>
              <a href="#/edit-estimate-route/{{route.id}}">View</a>
          </td>
        </tr>
    </tbody>
  </table>
  <div class="html-pagination">
    <ul class="pagination" style="display: none;">
      <li><a href="#" rel="prev">Previous</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#" rel="next">Next</a></li>
    </ul>
  </div>
</div>
